<!DOCTYPE html>
{% extends "header.html" %}
{% load static %}

<html lang="en">
    
   {% block 'contents' %}
   
   

    <style>

        .form-con{
            width: 60%;
            margin: auto;
            margin-bottom: 40px;
        }
        
        .p{
            text-align: center;
        }


        .pix{
            text-align: center;
        }
        
        .pix img{
            border-radius: 5px;
        }

        .btn1{
            text-align: center;
        }

        .bt{
            width: 20%;
            font-size: 17px;
        }


    </style>

    
    <body>
        <div class="container">

            <div class="container">

                <div class="text-center my-5 text-danger">
                    <h3>Delete Application</h3>
                </div>

            </div>

            <div class="container-form">

                <form method="post" action="{{pd.delete}}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-con">
                        {% for pd in appdel %}
                        <div class="t mb-3">
                            <h3>Application Details:</h3>
                            <p><strong>Job:</strong> {{pd.job}}</p>
                            <p><strong>Applicant:</strong> {{pd.full_name}}</p>
                            <p><strong>Address:</strong> {{pd.address}}</p>
                            <p><strong>Date of Birth:</strong> {{pd.dob}}</p>
                            <p><strong>Resume:</strong> {{pd.resume}}</p>
                            <p><strong>Cover Letter:</strong> {{pd.cover_letter}}</p>
                            <p><strong>Date:</strong> {{pd.date}}</p>
                            
 


                        <div class="p mb-4 fw-bolder text-danger fst-italic">
                            <p><strong>{{request.user}}</strong>, Are you sure you want to delete this application?</p>                         
                        </div>
                        {% endfor %}
                        <div class="mb-3 btn1">
                            <input type="submit" value="Delete" class="btn btn-danger bt">
                            <a href="{% url 'dashboard' %}"><input type="text" value="Back to Home" class="btn btn-secondary bt"></a>
                        </div> 

                    </div>
                </form>

            </div>

        </div>


        <!-- Footer-->

        {% include 'footer.html' %}
    
    </body>

    {% endblock 'contents' %}
   
</html>








